body {
    font-family: Arial, sans-serif;
    background: #fdeef4;
    text-align: center;
}

h2 {
    color: #b45ac9;
    margin-top: 20px;
}

.form-container {
    width: 350px;
    margin: auto;
}

form {
    width: 100%;
    padding: 25px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

label {
    display: block;
    text-align: left;
    margin-top: 12px;
    font-weight: bold;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 15px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 18px;
    background: #b45ac9;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #9e1bb5;
}

#errorMsg {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
